In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

from scipy.stats import beta

In [2]:
df = pd.read_csv('/Users/peter/Documents/Data Science/Nurture/offers_publisher_brand_3.7.24.csv')
df.sample(5)

,SESSION_ID,PUBLISHER_NAME,BRAND_NAME,SEQUENCE_NUMBER,CLAIMED_OR_BROWSED
42786,18411923-7d3f-4d4b-8225-b2c16d0c8091,Matador Meggings,Twillory,0,browsed
109438,8afb311c-4135-4db0-b3cd-8b74ecac6e10,Laura Geller,Caden Lane,0,browsed
63629,dd16c6b4-58cb-4455-8ff5-7c49440a0b1e,Afloral,Laura Geller,0,browsed
82353,dd446045-a1b8-40b5-8d51-9be886a67852,Blueland,Buffbunny Collection,1,browsed
117544,6e4e8fbc-267b-474f-9cf0-5110d93712ba,Branch,ettitude,0,browsed

In [3]:
#Find the total number of offers claimed
len(df.loc[df['CLAIMED_OR_BROWSED'] == 'claimed'])

6107

## Aggregate Metrics

In [4]:
def calculate_agg_performance(df):
    # Total Unique Sessions
    total_unique_sessions = df['SESSION_ID'].nunique()
    
    # Browsed Past the First Offer
    browsed_past_first_offer = df[df['SEQUENCE_NUMBER'] > 0]['SESSION_ID'].nunique()
    
    # Browsed All Offers
    sessions_browsed_all_offers = df[df['CLAIMED_OR_BROWSED'] == 'browsed'].groupby('SESSION_ID')['SEQUENCE_NUMBER'].nunique()
    browsed_all_offers = sessions_browsed_all_offers[sessions_browsed_all_offers == 3].size
    
    # Claimed At Least One Offer
    claimed_at_least_one_offer = df[df['CLAIMED_OR_BROWSED'] == 'claimed']['SESSION_ID'].nunique()
    
    # Engaged: Claimed any offer OR browsed all offers
    # Find sessions that claimed any offer
    sessions_claimed_any_offer = df[df['CLAIMED_OR_BROWSED'] == 'claimed']['SESSION_ID'].unique()
    
    # Find sessions that browsed all offers
    sessions_browsed_all = sessions_browsed_all_offers[sessions_browsed_all_offers == 3].index
    
    # Combine and find unique sessions to define "Engaged"
    engaged_sessions = len(pd.unique(np.concatenate((sessions_claimed_any_offer, sessions_browsed_all))))
    
    # Prepare the output DataFrame
    metrics_data = {
        'Metric': [
            'Total Unique Sessions',
            'Browsed Past the First Offer',
            'Browsed All Offers',
            'Claimed At Least One Offer',
            'Engaged'
        ],
        'unique_sessions': [
            total_unique_sessions,
            browsed_past_first_offer,
            browsed_all_offers,
            claimed_at_least_one_offer,
            engaged_sessions
        ]
    }
    metrics_df = pd.DataFrame(metrics_data)
    
    # Calculate percent column as decimal to 5 places
    metrics_df['percent'] = (metrics_df['unique_sessions'] / total_unique_sessions).round(5)
    
    return metrics_df

agg_df = calculate_agg_performance(df)
agg_df

                         Metric  unique_sessions  percent
0         Total Unique Sessions           218352  1.00000
1  Browsed Past the First Offer            15807  0.07239
2            Browsed All Offers            11323  0.05186
3    Claimed At Least One Offer             5283  0.02419
4                       Engaged            16606  0.07605

## Publisher Breakdown

In [5]:
def calculate_publisher_performance(df):
    # Total Unique Sessions per Publisher
    total_sessions_per_publisher = df.groupby('PUBLISHER_NAME')['SESSION_ID'].nunique()
    
    # Browsed Past the First Offer Rate per Publisher
    browsed_past_first_offer = df[df['SEQUENCE_NUMBER'] > 0].groupby('PUBLISHER_NAME')['SESSION_ID'].nunique()
    
    # Browsed All Offers Rate per Publisher
    browsed_all_offers = df[df['CLAIMED_OR_BROWSED'] == 'browsed'].groupby(['PUBLISHER_NAME', 'SESSION_ID'])['SEQUENCE_NUMBER'].nunique()
    browsed_all_offers = browsed_all_offers.reset_index()
    browsed_all_offers = browsed_all_offers[browsed_all_offers['SEQUENCE_NUMBER'] == 3].groupby('PUBLISHER_NAME')['SESSION_ID'].nunique()
    
    # Claimed At Least One Offer Rate per Publisher
    claimed_at_least_one_offer = df[df['CLAIMED_OR_BROWSED'] == 'claimed'].groupby('PUBLISHER_NAME')['SESSION_ID'].nunique()
    
    # Engaged Rate per Publisher
    # Find sessions that claimed any offer or browsed all offers per publisher
    claimed_sessions = df[df['CLAIMED_OR_BROWSED'] == 'claimed'].groupby('PUBLISHER_NAME')['SESSION_ID'].unique()
    engaged_sessions = (claimed_sessions.apply(len) + browsed_all_offers.reindex(claimed_sessions.index, fill_value=0)).reindex(total_sessions_per_publisher.index, fill_value=0)

    # Prepare the DataFrame
    metrics_df = pd.DataFrame({
        'total_unique_sessions': total_sessions_per_publisher,
        'browsed_past_first_offer_rate': (browsed_past_first_offer / total_sessions_per_publisher).round(5),
        'browsed_all_offers_rate': (browsed_all_offers / total_sessions_per_publisher).round(5),
        'claimed_at_least_one_offer_rate': (claimed_at_least_one_offer / total_sessions_per_publisher).round(5),
        'engaged_rate': (engaged_sessions / total_sessions_per_publisher).round(5)
    })

    # Remove rows where all rate values are NaN
    metrics_df.dropna(how='all', subset=['browsed_past_first_offer_rate', 'browsed_all_offers_rate', 'claimed_at_least_one_offer_rate', 'engaged_rate'], inplace=True)

    # Sort DataFrame by 'total_unique_sessions' in descending order
    metrics_df.sort_values(by='total_unique_sessions', ascending=False, inplace=True)
    
    return metrics_df.reset_index().rename(columns={'PUBLISHER_NAME': 'publisher'})

publisher_df = calculate_publisher_performance(df)
publisher_df

,publisher,total_unique_sessions,browsed_past_first_offer_rate,browsed_all_offers_rate,claimed_at_least_one_offer_rate,engaged_rate
0,Laura Geller,24617,0.05577,0.04184,0.01276,0.05460
1,BlendJet,14194,0.04206,0.02825,0.01282,0.04107
2,True Classic,8832,0.04529,0.03419,0.01313,0.04733
3,Dr. Squatch,7748,0.10003,0.07808,0.02013,0.09822
4,Sol de Janeiro,7346,0.10700,0.06834,0.04792,0.11625
...,...,...,...,...,...,...
439,Favour,1,NaN,NaN,NaN,0.00000
440,Skidders,1,NaN,NaN,NaN,0.00000
441,Anjie + Ash,1,NaN,NaN,NaN,0.00000
442,Goldmine,1,NaN,NaN,NaN,0.00000
443,Three Wishes,1,NaN,NaN,NaN,0.00000

## Brand Breakdown

In [6]:
def calculate_brand_performance(df):
    # Ensure 'BRAND_NAME' and other relevant columns are of type string to avoid unexpected behavior
    df['BRAND_NAME'] = df['BRAND_NAME'].astype(str)
    
    # Calculate total unique sessions per brand
    total_sessions_per_brand = df.groupby('BRAND_NAME')['SESSION_ID'].nunique()

    # Initialize the output DataFrame
    brand_performance = pd.DataFrame({
        'Brand': total_sessions_per_brand.index,
        'Unique_Sessions': total_sessions_per_brand.values
    })

    # Helper function to calculate browse and claim rates
    def calculate_rate(action, sequence):
        filtered = df[(df['CLAIMED_OR_BROWSED'] == action) & (df['SEQUENCE_NUMBER'] == sequence)]
        counts = filtered.groupby('BRAND_NAME')['SESSION_ID'].nunique()
        rates = counts.div(total_sessions_per_brand, fill_value=0)
        return rates

    # Calculate metrics for each position and action
    for position in range(3):
        browse_rate = calculate_rate('browsed', position).round(5)
        claim_rate = calculate_rate('claimed', position).round(5)

        brand_performance[f'Offer{position+1}_ViewRate'] = brand_performance['Brand'].map(browse_rate).fillna(0)
        brand_performance[f'Offer{position+1}_ClaimRate'] = brand_performance['Brand'].map(claim_rate).fillna(0)

    return brand_performance.sort_values('Unique_Sessions', ascending=False).reset_index(drop=True)

brand_df = calculate_brand_performance(df)
brand_df

,Brand,Unique_Sessions,Offer1_ViewRate,Offer1_ClaimRate,Offer2_ViewRate,Offer2_ClaimRate,Offer3_ViewRate,Offer3_ClaimRate
0,Laura Geller,73500,0.96167,0.01999,0.01227,0.00087,0.00491,0.00029
1,Caden Lane,63851,0.94169,0.01685,0.03237,0.00116,0.00767,0.00025
2,Little Words Project,16481,0.75347,0.01814,0.08052,0.00322,0.13646,0.00819
3,Canopy,14679,0.75182,0.01587,0.08543,0.00599,0.13271,0.00817
4,Buffbunny Collection,13464,0.80622,0.01248,0.13622,0.01040,0.03335,0.00134
5,Lalo,11777,0.85947,0.01656,0.06912,0.00484,0.04789,0.00212
6,D.S. & Durga,8295,0.82725,0.02447,0.08041,0.00374,0.05992,0.00422
7,ettitude,7119,0.79239,0.01517,0.10254,0.01025,0.07473,0.00492
8,LIVELY,6426,0.87286,0.00654,0.06038,0.00093,0.05540,0.00389
9,Lollipetals,5870,0.52249,0.01448,0.25741,0.01618,0.17649,0.01295
10,Dirty Labs,4511,0.68765,0.02305,0.12148,0.00865,0.14520,0.01397
11,Dropps,3023,0.74826,0.00232,0.08865,0.00033,0.15779,0.00265
12,Twillory,2566,0.94427,0.04287,0.00857,0.00117,0.00312,0.00000
13,Food Huggers,1919,0.21886,0.00782,0.38249,0.03127,0.32673,0.03283
14,Better & Better,1813,0.87479,0.03365,0.01710,0.00055,0.06950,0.00441
15,SolaWave,1785,0.65994,0.01176,0.18824,0.01401,0.11204,0.01401
16,The Plug Drink,1479,0.95267,0.00203,0.02975,0.00068,0.01487,0.00000
17,Modern Picnic,1162,0.76592,0.02668,0.10757,0.00516,0.08434,0.01033
18,Why and Whale,1008,0.19048,0.00893,0.07837,0.00595,0.66567,0.05060
19,Thousand Fell,902,0.46452,0.02328,0.19845,0.00776,0.29047,0.01552
20,iota,716,0.56006,0.03492,0.15922,0.00140,0.22626,0.01816
21,Coco Moon,577,0.29289,0.00000,0.28423,0.01733,0.36742,0.03813
22,cbdMD,548,0.69161,0.00000,0.12591,0.00000,0.18248,0.00000
23,Year & Day,458,0.50873,0.02620,0.15502,0.00873,0.28166,0.01965
24,LuminAID,451,0.71397,0.01996,0.09313,0.01109,0.15965,0.00222
25,SortJoy,451,0.71397,0.03548,0.19512,0.02661,0.02882,0.00000
26,good light,439,0.35080,0.00456,0.17312,0.01139,0.43052,0.02961
27,Ellie & Becks,346,0.29191,0.00578,0.30636,0.02601,0.35549,0.01445
28,Popadelics,299,0.00334,0.00000,0.32107,0.03679,0.60535,0.03344
29,eeBoo,297,0.36027,0.00337,0.09428,0.00337,0.49832,0.04040
30,Dreamland Baby,282,0.71277,0.03546,0.04255,0.00355,0.16312,0.04255
31,Maverick & Co.,272,0.91912,0.00735,0.02574,0.00000,0.04412,0.00368
32,Sprout Living,244,0.45902,0.01230,0.21721,0.00820,0.28689,0.01639
33,Wren + Glory,156,0.46154,0.00000,0.22436,0.00641,0.30128,0.00641
34,RIND Snacks,152,0.53947,0.03947,0.06579,0.00000,0.32895,0.02632
35,SENREVE,129,0.65891,0.00000,0.24031,0.02326,0.07752,0.00000
36,NOTO Botanics,105,0.60000,0.00000,0.10476,0.00000,0.29524,0.00000
37,Bushwick Kitchen,61,0.59016,0.03279,0.04918,0.00000,0.31148,0.01639
38,Lalabu,49,0.81633,0.04082,0.14286,0.00000,0.00000,0.00000
39,Verdant Lyfe,47,0.59574,0.00000,0.14894,0.00000,0.21277,0.04255
40,Canary,41,0.39024,0.00000,0.07317,0.00000,0.53659,0.00000
41,Dryft Sleep,29,0.17241,0.00000,0.06897,0.00000,0.75862,0.00000
42,Doré,14,0.64286,0.00000,0.07143,0.00000,0.28571,0.00000
43,Oat Mama,3,0.00000,0.00000,0.33333,0.00000,0.66667,0.00000
44,Haus of Brilliance,1,0.00000,0.00000,0.00000,0.00000,1.00000,0.00000

In [9]:
from datetime import datetime

# Get the current date
current_date = datetime.now()
date = current_date.strftime('%m_%d_%y')

#output all of the df to excel
with pd.ExcelWriter(f'/Users/peter/Documents/Data Science/Nurture/brand_publisher_performance{date}.xlsx') as writer:
    agg_df.to_excel(writer, sheet_name='Aggregate Performance', index=False)
    publisher_df.to_excel(writer, sheet_name='Publisher Performance', index=False)
    brand_df.to_excel(writer, sheet_name='Brand Performance', index=False)