In [ ]:
from snowflake import connector
import pandas as pd
import os
from dotenv import load_dotenv

load_dotenv('/Users/peter/.env')
username = os.getenv("SNOWFLAKE_USERNAME")
password=os.getenv("SNOWFLAKE_PASSWORD")
account=os.getenv("SNOWFLAKE_ACCOUNT")
role=os.getenv("SNOWFLAKE_ROLE"), 
warehouse=os.getenv("SNOWFLAKE_WAREHOUSE")
print(username, password, account, role, warehouse)

:

In [4]:
# establish Snowflake connection
connection = connector.connect(user=os.getenv("SNOWFLAKE_USERNAME"), 
                  password=os.getenv("SNOWFLAKE_PASSWORD"), 
                  account=os.getenv("SNOWFLAKE_ACCOUNT"), 
                  role=os.getenv("SNOWFLAKE_ROLE"), 
                  warehouse=os.getenv("SNOWFLAKE_WAREHOUSE"),
                  )

In [7]:
pd.read_sql('''
            with bodod as (
            select * 
            from disco_core.disco_mixpanel.bod_individual_conversions_overdelivery as b 
                inner join disco_mixpanel.master_conversions as mc on mc.unique_key = b.conversion_unique_key
            where bod_spend > 0 
            ),

            prelim as (
            select  hdc.property_brand_tier:value::string as tier,
                    ldp.merchant as publisher,
                    --ldp.date,
                    --date_trunc('day', bodod.conversion_source_time) as event_date,
                    cb.name as advertiser,
                    --bodod.brand_id,
                    --cb.core_brand_id,
                    --bodod.driving_brand,
                    sum(widget_loads_d) as total_discofeed_loads_pub_ad,
                    sum(bod_spend) as total_ad_spend_pub_ad,
                    count(distinct conversion_unique_key) as total_conversions_pub_ad
                    --case when bodod.driving_brand is null then 0 
                    --  when ldp.merchant = bodod.driving_brand then 0
                    --  else 1
                    --  end as pub_check
                    
            from disco_core.disco_mixpanel.loads_displays_performance as ldp
                left join bodod on bodod.driving_brand = ldp.merchant and date_trunc('day', bodod.conversion_source_time) = ldp.date
                left join postgres.core_brand as cb on bodod.brand_id = cb.core_brand_id
                left join postgres.core_brand as cb2 on cb2.name = ldp.merchant 
                left join postgres.core_publisher as cp on cp.brand_id = cb2.core_brand_id
                left join hubspot_data.companies as hdc on hdc.property_disco_id:value::string = cp.remote_id
            where ldp.date >= '2024-01-01' --date_trunc('day', current_timestamp) - interval '7 days'
            group by 1, 2,3 --tier, publisher, advertiser
            order by publisher, total_ad_spend_pub_ad
            --order by pub_check desc
            ),
            final as (
            select tier, 
                    publisher, 
                    ARRAY_AGG(advertiser) WITHIN GROUP (ORDER BY total_ad_spend_pub_ad desc) as advertiser_list, 
                    sum(total_discofeed_loads_pub_ad) as total_discofeed_loads,
                    sum(total_ad_spend_pub_ad) as total_ad_spend_billable,
                    sum(total_conversions_pub_ad) as total_conversions_count,
                    case when sum(total_discofeed_loads_pub_ad) = 0 then 0 || '%'
                        else round((sum(total_conversions_pub_ad) / sum(total_discofeed_loads_pub_ad)) *100, 2) || '%'
                        end as cvr,
                    case when sum(total_discofeed_loads_pub_ad) = 0 then 0
                        else sum(total_ad_spend_pub_ad) / sum(total_discofeed_loads_pub_ad) 
                        end as rpl,
                    ARRAY_AGG(total_ad_spend_pub_ad) WITHIN GROUP (ORDER BY total_ad_spend_pub_ad desc) as ad_spend_list 
            from prelim
            where tier is not null
            group by 1, 2 
            order by 5 desc
            )
            select * 
            from final
            where total_ad_spend_billable is not null and total_discofeed_loads > 100
            order by 4 desc;
            '''
            , connection)

/var/folders/nn/ckstnx1110j6y5fknhgmvlvr0000gn/T/ipykernel_16311/2471446239.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql('''

DatabaseError: Execution failed on sql '
            with bodod as (
            select *
            from disco_core.disco_mixpanel.bod_individual_conversions_overdelivery as b
                inner join disco_mixpanel.master_conversions as mc on mc.unique_key = b.conversion_unique_key
            where bod_spend > 0
            ),

            prelim as (
            select  hdc.property_brand_tier:value::string as tier,
                    ldp.merchant as publisher,
                    --ldp.date,
                    --date_trunc('day', bodod.conversion_source_time) as event_date,
                    cb.name as advertiser,
                    --bodod.brand_id,
                    --cb.core_brand_id,
                    --bodod.driving_brand,
                    sum(widget_loads_d) as total_discofeed_loads_pub_ad,
                    sum(bod_spend) as total_ad_spend_pub_ad,
                    count(distinct conversion_unique_key) as total_conversions_pub_ad
                    --case when bodod.driving_brand is null then 0
                    --  when ldp.merchant = bodod.driving_brand then 0
                    --  else 1
                    --  end as pub_check

            from disco_core.disco_mixpanel.loads_displays_performance as ldp
                left join bodod on bodod.driving_brand = ldp.merchant and date_trunc('day', bodod.conversion_source_time) = ldp.date
                left join postgres.core_brand as cb on bodod.brand_id = cb.core_brand_id
                left join postgres.core_brand as cb2 on cb2.name = ldp.merchant
                left join postgres.core_publisher as cp on cp.brand_id = cb2.core_brand_id
                left join hubspot_data.companies as hdc on hdc.property_disco_id:value::string = cp.remote_id
            where ldp.date >= '2024-01-01' --date_trunc('day', current_timestamp) - interval '7 days'
            group by 1, 2,3 --tier, publisher, advertiser
            order by publisher, total_ad_spend_pub_ad
            --order by pub_check desc
            ),
            final as (
            select tier,
                    publisher,
                    ARRAY_AGG(advertiser) WITHIN GROUP (ORDER BY total_ad_spend_pub_ad desc) as advertiser_list,
                    sum(total_discofeed_loads_pub_ad) as total_discofeed_loads,
                    sum(total_ad_spend_pub_ad) as total_ad_spend_billable,
                    sum(total_conversions_pub_ad) as total_conversions_count,
                    case when sum(total_discofeed_loads_pub_ad) = 0 then 0 || '%'
                        else round((sum(total_conversions_pub_ad) / sum(total_discofeed_loads_pub_ad)) *100, 2) || '%'
                        end as cvr,
                    case when sum(total_discofeed_loads_pub_ad) = 0 then 0
                        else sum(total_ad_spend_pub_ad) / sum(total_discofeed_loads_pub_ad)
                        end as rpl,
                    ARRAY_AGG(total_ad_spend_pub_ad) WITHIN GROUP (ORDER BY total_ad_spend_pub_ad desc) as ad_spend_list
            from prelim
            where tier is not null
            group by 1, 2
            order by 5 desc
            )
            select *
            from final
            where total_ad_spend_billable is not null and total_discofeed_loads > 100
            order by 4 desc;
            ': 090105 (22000): Cannot perform SELECT. This session does not have a current database. Call 'USE DATABASE', or use a qualified name.

/var/folders/nn/ckstnx1110j6y5fknhgmvlvr0000gn/T/ipykernel_16311/1519572421.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql('''

,BRAND_ID,MAX_BUDGET,TARGET_CPA,TARGET_CPO,CONVERSION_SOURCE_TIME,CONVERSION_ORDER_TIME,CONVERSION_UNIQUE_KEY,MON_YEAR,BOD_SPEND_TILL_DATE,MAX_BUDGET_MONTH,...,NUM_BRANDS_EXCLUDED,EXPERIMENT_EXCLUSIONS,BRAND_VIEW_ORDER,DISTRIBUTION_PUBLISHER_ID,DISTRIBUTION_PARTNER_REMOTE_ID,UNIQUE_KEY,ROW_NUM,PUBLISHER,ID,IDENTIFIER
0,4278,3000.0,NaN,15.0,2023-10-25 19:01:42,2023-11-03 20:05:29,5049285869686,112023,330.0,3000.0,...,0.0,0.0,0.0,None,None,5049285869686,1,None,None,None
1,2215,5000.0,NaN,25.0,2023-11-17 03:17:17,2023-12-01 02:39:51,5681915265269,122023,25.0,5000.0,...,0.0,0.0,0.0,None,None,5681915265269,1,None,None,None
2,3990,25000.0,45.0,NaN,2023-10-30 20:35:57,2023-10-30 21:02:42,5720060657736,102023,7359.0,25000.0,...,0.0,0.0,1.0,None,None,5720060657736,1,None,None,None
3,1613,5000.0,20.0,NaN,2023-10-25 22:40:04,2023-10-29 04:04:39,5007145828488,102023,207.0,5000.0,...,0.0,0.0,NaN,None,None,5007145828488,1,None,None,None
4,2385,5000.0,NaN,15.0,2022-10-03 13:25:48,2022-10-12 19:32:52,4652733136998,102022,1560.0,5000.0,...,0.0,0.0,0.0,None,None,4652733136998,1,4adc7081-c05e-4522-9126-f7b871962af2,None,None
5,2345,20000.0,18.0,NaN,2023-11-01 23:20:53,2023-11-16 05:15:57,5213257039938,112023,734.0,20000.0,...,0.0,0.0,0.0,None,None,5213257039938,1,None,None,None
6,4380,5000.0,10.0,NaN,2024-01-12 15:44:23,2024-01-12 17:27:03,5391209136322,12024,1735.0,5000.0,...,0.0,0.0,0.0,None,None,5391209136322,1,None,None,None
7,4310,3000.0,NaN,8.0,2023-11-14 11:20:17,2023-11-24 12:04:31,5482272129251,112023,638.0,3000.0,...,0.0,0.0,0.0,None,None,5482272129251,1,None,None,None
8,2748,75000.0,NaN,10.0,2023-05-17 00:54:51,2023-05-31 14:53:14,5520533192766,52023,1765.0,75000.0,...,0.0,0.0,1.0,None,None,5520533192766,1,eaa591bf-63d6-4400-86ff-40e928af8c03,None,None
9,4192,25000.0,NaN,15.0,2023-10-12 05:03:51,2023-10-20 17:17:37,5138679759001,102023,2430.0,25000.0,...,0.0,0.0,1.0,None,None,5138679759001,1,None,None,None
10,3521,75000.0,NaN,35.0,2023-06-24 00:48:37,2023-07-01 00:53:52,4909048758455,72023,35.0,75000.0,...,0.0,0.0,0.0,None,None,4909048758455,1,None,None,None
11,3866,10000.0,NaN,10.0,2023-03-29 11:06:02,2023-04-13 00:51:26,5008130605137,42023,445.0,10000.0,...,0.0,0.0,0.0,None,None,5008130605137,1,None,None,None
12,1960,1000000.0,15.0,NaN,2024-02-09 21:04:05,2024-02-09 21:19:36,5672051900477,22024,1800.0,1000000.0,...,0.0,0.0,0.0,None,None,5672051900477,1,None,None,None
13,2081,700.0,NaN,10.0,2022-12-15 22:17:45,2022-12-20 10:09:46,4696852594711,122022,200.0,700.0,...,0.0,0.0,0.0,None,None,4696852594711,1,None,None,None
14,4256,1000000.0,20.0,NaN,2023-11-17 13:48:02,2023-11-28 02:33:08,5161131868229,112023,6640.0,1000000.0,...,0.0,0.0,6.0,None,None,5161131868229,1,None,None,None
15,3411,4000.0,33.0,NaN,2023-11-06 19:02:18,2023-11-11 15:06:57,5408986791991,112023,759.0,6000.0,...,0.0,0.0,0.0,None,None,5408986791991,1,None,None,None
16,2350,1000.0,NaN,12.0,2023-01-18 03:21:03,2023-01-30 18:51:26,5108499677424,12023,129.0,1000.0,...,0.0,0.0,1.0,None,None,5108499677424,1,None,None,None
17,3866,25000.0,NaN,10.0,2023-09-19 17:06:09,2023-09-20 02:11:56,5204977516625,92023,1075.0,25000.0,...,0.0,0.0,NaN,None,None,5204977516625,1,None,None,None
18,2922,15000.0,35.0,NaN,2023-03-31 11:42:48,2023-04-02 04:41:27,4863086035004,42023,520.0,15000.0,...,0.0,0.0,0.0,None,None,4863086035004,1,None,None,None
19,2385,7250.0,20.0,NaN,2024-01-15 05:13:04,2024-01-17 04:31:22,5297069686886,12024,3840.0,7250.0,...,0.0,0.0,0.0,None,None,5297069686886,1,4adc7081-c05e-4522-9126-f7b871962af2,None,None
20,1962,1000.0,NaN,20.0,2022-11-01 12:40:09,2022-11-03 12:11:15,4735474139270,112022,180.0,1000.0,...,0.0,0.0,2.0,None,None,4735474139270,1,None,None,None
21,2172,2000.0,NaN,8.0,2023-04-20 14:59:51,2023-04-24 19:11:33,4900960403633,42023,1528.0,2000.0,...,0.0,0.0,0.0,None,None,4900960403633,1,None,None,None
22,1940,25000.0,50.0,NaN,2023-05-21 18:57:05,2023-05-24 15:18:08,5149037035688,52023,2310.0,25000.0,...,0.0,0.0,2.0,None,None,5149037035688,1,a1952833-1665-4b29-a75f-beaab79e4847,None,None
23,2616,1000.0,NaN,20.0,2022-10-20 18:33:09,2022-10-25 22:10:49,4507454439472,102022,290.0,1000.0,...,0.0,0.0,1.0,None,None,4507454439472,1,6636c04a-c3af-4249-a0b6-4750f3868f84,None,None
24,2922,1000000.0,32.0,NaN,2024-01-27 18:47:09,2024-02-05 16:01:23,5194054598716,22024,6768.0,1000000.0,...,0.0,0.0,1.0,None,None,5194054598716,1,None,None,None
25,2922,1000000.0,NaN,20.0,2024-01-28 17:51:22,2024-02-08 05:09:41,5197236928572,22024,10380.0,1000000.0,...,0.0,0.0,0.0,None,None,5197236928572,1,None,None,None
26,2385,10000.0,20.0,NaN,2023-11-11 03:37:54,2023-11-15 13:53:33,5182040539238,112023,2910.0,10000.0,...,0.0,0.0,1.0,None,None,5182040539238,1,4adc7081-c05e-4522-9126-f7b871962af2,None,None
27,2172,2000.0,NaN,8.0,2023-03-14 05:51:00,2023-03-17 03:26:06,4860429926577,32023,1418.0,2000.0,...,0.0,0.0,2.0,None,None,4860429926577,1,None,None,None
28,4313,1000000.0,30.0,NaN,2024-01-08 14:06:28,2024-01-14 14:17:48,5268968833095,12024,2320.0,1000000.0,...,0.0,0.0,0.0,None,None,5268968833095,1,None,None,None
29,2194,2000.0,129.0,NaN,2023-11-25 19:53:36,2023-11-29 20:35:47,5292971458731,112023,825.0,2000.0,...,0.0,0.0,0.0,None,None,5292971458731,1,None,None,None
30,3880,10000.0,NaN,12.0,2023-07-20 04:12:19,2023-07-22 03:55:10,5167446392929,72023,4281.0,10000.0,...,0.0,0.0,1.0,None,None,5167446392929,1,None,None,None
31,2303,20000.0,NaN,30.0,2022-10-16 23:56:45,2022-10-28 22:56:05,4386274082850,102022,340.0,20000.0,...,0.0,0.0,8.0,None,None,4386274082850,1,None,None,None
32,2560,3000.0,NaN,15.0,2023-10-20 03:38:55,2023-10-28 11:45:56,5070201454652,102023,860.0,3000.0,...,0.0,0.0,0.0,None,None,5070201454652,1,None,None,None
33,1808,9000.0,NaN,10.0,2023-10-31 15:42:56,2023-11-10 21:58:58,4090936393792,112023,2160.0,15000.0,...,0.0,0.0,0.0,None,None,4090936393792,1,3d5bbf3b-6f2f-467d-a4f1-02050515576e,None,None
34,2580,5000.0,10.0,NaN,2022-12-13 16:52:33,2022-12-21 21:39:57,4721476632635,122022,1030.0,5000.0,...,0.0,0.0,0.0,None,None,4721476632635,1,None,None,None
35,2471,5000.0,35.0,NaN,2023-03-10 18:50:43,2023-03-10 19:03:07,5027461267519,32023,35.0,5000.0,...,0.0,0.0,10.0,None,None,5027461267519,1,None,None,None
36,3866,1000000.0,15.0,NaN,2023-11-21 11:58:14,2023-11-24 19:10:55,5294493237329,112023,3690.0,1000000.0,...,0.0,0.0,2.0,None,None,5294493237329,1,None,None,None
37,1962,1000.0,NaN,20.0,2022-08-29 16:28:44,2022-09-10 11:11:20,4650187260038,92022,200.0,1000.0,...,0.0,0.0,2.0,None,None,4650187260038,1,None,None,None
38,3940,10000.0,35.0,NaN,2023-05-28 19:45:18,2023-06-01 02:14:21,5052978397360,62023,35.0,10000.0,...,0.0,0.0,2.0,None,None,5052978397360,1,None,None,None
39,3765,10000.0,NaN,20.0,2023-07-19 19:31:22,2023-08-03 05:45:28,5182162305121,82023,80.0,25000.0,...,0.0,0.0,1.0,None,None,5182162305121,1,None,None,None
40,2508,15000.0,NaN,10.0,2023-03-28 16:04:41,2023-04-03 15:18:22,4956401827925,42023,900.0,15000.0,...,0.0,0.0,0.0,None,None,4956401827925,1,None,None,None
41,2179,8000.0,55.0,NaN,2023-08-22 03:40:18,2023-09-05 21:33:04,4762079461509,92023,2640.0,8000.0,...,0.0,0.0,1.0,None,None,4762079461509,1,None,None,None
42,2385,10000.0,60.0,NaN,2023-07-12 14:05:38,2023-07-14 17:21:58,5021124722790,72023,2770.0,10000.0,...,0.0,0.0,0.0,None,None,5021124722790,1,4adc7081-c05e-4522-9126-f7b871962af2,None,None
43,2922,15000.0,NaN,10.0,2022-11-26 04:21:05,2022-12-07 14:32:08,4744538718268,122022,1065.0,15000.0,...,0.0,0.0,2.0,None,None,4744538718268,1,None,None,None
44,3880,25000.0,NaN,12.0,2023-09-07 22:27:10,2023-09-18 04:41:10,5243815100513,92023,4311.0,25000.0,...,0.0,0.0,0.0,None,None,5243815100513,1,None,None,None
45,3718,2000.0,NaN,20.0,2023-07-10 15:13:44,2023-07-14 00:41:22,5450751279399,72023,540.0,2000.0,...,0.0,0.0,0.0,None,None,5450751279399,1,None,None,None
46,2499,7000.0,NaN,15.0,2023-11-14 21:57:38,2023-11-22 20:11:56,4671151571001,112023,2880.0,7000.0,...,0.0,0.0,0.0,None,None,4671151571001,1,None,None,None
47,3505,15000.0,NaN,15.0,2022-12-13 18:32:03,2022-12-15 18:30:13,4861527588961,122022,160.0,15000.0,...,0.0,0.0,0.0,None,None,4861527588961,1,None,None,None
48,3416,2000.0,22.0,NaN,2023-07-20 18:12:22,2023-07-20 18:16:36,5351751254206,72023,42.0,2000.0,...,NaN,NaN,26.0,None,None,5351751254206,1,None,None,None
49,3866,10000.0,NaN,10.0,2023-05-28 10:54:58,2023-05-29 19:54:20,5064434319441,52023,1925.0,10000.0,...,0.0,0.0,1.0,None,None,5064434319441,1,None,None,None

In [2]:
from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine
import pandas as pd

import os
from dotenv import load_dotenv

load_dotenv('/Users/peter/.env')

True

In [3]:
credentials = {'user': os.getenv("SNOWFLAKE_USERNAME"), 
               'password': os.getenv("SNOWFLAKE_PASSWORD"), 
               'account': os.getenv("SNOWFLAKE_ACCOUNT"), 
               'role':os.getenv("SNOWFLAKE_ROLE"), 
               'warehouse': os.getenv("SNOWFLAKE_WAREHOUSE"),
}

In [5]:
engine = create_engine(URL(
    account = credentials['account'],
    user = credentials['user'],
    password = credentials['password'],
    warehouse = credentials['warehouse'],
    role = credentials['role']
))

con = engine.connect()

In [7]:
pd.read_sql('''
select * 
from disco_core.disco_mixpanel.bod_individual_conversions_overdelivery as b 
    inner join disco_core.disco_mixpanel.master_conversions as mc on mc.unique_key = b.conversion_unique_key
where bod_spend > 0
limit 25;
            '''
            , con)

/var/folders/nn/ckstnx1110j6y5fknhgmvlvr0000gn/T/ipykernel_19327/1332400254.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql('''

AttributeError: 'Connection' object has no attribute 'cursor'